<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} &mdash; Matt Robenolt</title>
    <meta name="viewport" content="width=430px">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="/css/pretty.css" rel="stylesheet">
</head>
<body class="{{ page.bodyclass }}">
    <header>
        <h1><a href="/">Matt Robenolt</a></h1>
        <p>Stalk me:</p>
        <ul>
            <li><a href="https://twitter.com/mattrobenolt">@mattrobenolt</a></li>
            <li><a href="https://github.com/mattrobenolt">github.com/mattrobenolt</a></li>
        </ul>
        <footer>&copy; 1988&mdash;2012 <a href="http://mattrobenolt.com/">Matt Robenolt</a></footer>
    </header>

    {{ content }}

    <div style="clear:both"></div>

    <script>
        var _gaq=[['_setAccount','UA-34959157-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
